<!doctype html>

<html>

    <head>
    <style type="text/css">
   body { background: yellow !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>{{title}}</title>

    </head>

<body>

    <div>

        <a href='/'>Main Page</a><br>

        <a href='/login'>login</a></br>
        
        <a href='/logout'>logout</a>

    </div>

    {% block content %}

    {% endblock %}



</body>

</html>
